<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/main.css') }}"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="{{ url_for('static',filename='css/noscript.css') }}"
    /></noscript>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto:wght@400;500;700&family=Tangerine:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="background-color: rgb(29, 27, 27)" class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper" style="background-color: rgb(29, 27, 27)">
      <!-- Header -->
      <header id="header" class="alt">
        <a href="index.html" class="logo"
          ><strong>Car Dealer</strong> <span>Website</span></a
        >
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Menu -->
      <nav
        id="menu"
        style="
          background-color: rgb(29, 27, 27);
          background-position: center 0px;
        "
      >
        <ul class="links">
          <li class="active"><a href="index.html">Home </a></li>
          <li><a href="cars.html">Cars</a></li>
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="/analysis">Analysis</a></li>
          <li class="dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >More</a
            >
            <ul class="dropdown-menu">
              <li><a href="team.html">Team</a></li>
              <li><a href="testimonials.html">Testimonials</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="terms.html">Terms</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <!-- Banner -->
      <section
        class="major"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('static/images/banner-image-1-1920x700.jpg');

          color: aqua;
        "
      >
        <div class="inner">
          <header
            class="major"
            style="color: aqua; font-family: 'Protest Revolution'"
          >
            <h1 style="color: aqua">
              Browse Through our unique collection of cars
            </h1>
          </header>
          <div class="content">
            <p
              style="
                color: aqua;
                font-family: 'Protest Revolution';
                padding-bottom: 10%;
              "
            >
              Discover the perfect vehicle for your needs!!
            </p>
            <div class="major-actions">
              <a
                href="{{ url_for('custLogin', bypass = 0) }}"
                class="button small next"
                >Go Home</a
              >
            </div>
          </div>
        </div>
      </section>

      <!-- About us -->
      <section>
        <div class="inner">
          <header class="major">
            <h2 style="font-family: 'Protest Revolution'">Unused Cars</h2>
          </header>
          <p>
            Discover the pinnacle of automotive excellence with our extensive
            selection of premier vehicles from top brands. Uncover unparalleled
            deals as we present the latest models boasting cutting-edge
            features, all offered at unbeatable prices. Explore the epitome of
            luxury, performance, and innovation with us today.
          </p>
        </div>
      </section>

      <!-- Main -->
      <div id="main" style="background-color: rgb(29, 27, 27)">
        <!-- Featured Cars -->
        <section class="tiles">
          {% for data in car_data if data[7] == 'Unregister' %}
          <article
            style="
              background-image: url('{{ data[2] }}');
            "
          >
            <span class="image">
              <img src="{{ data[2] }}" alt="" />
            </span>

            <header class="major">
              <p>
                <i class="fa fa-dashboard"></i> {{ data[8] }}km &nbsp;&nbsp;
                <i class="fa fa-cube"></i> {{ data[10] }}cc&nbsp;&nbsp;
                <i class="fa fa-cog"></i> {{ data[12] }}
              </p>

              <h3>{{ data[1] }}</h3>
              <strong>{{ data[3] }} lakh</strong>
              <p>
                {{ data[11] }} hp / {{ data[9] }} / {{ data[6] }} / New vehicle
              </p>

              <div class="major-actions">
                <a
                  href="{{ url_for('carDetails', car_id = data[0] ) }}"
                  class="button small next"
                  >View Car</a
                >
              </div>
            </header>
          </article>
          {% endfor %}
        </section>

        <!-- About us -->
        <section>
          <div class="inner">
            <header class="major">
              <h2 style="font-family: 'Protest Revolution'">Used Cars</h2>
            </header>
            <p>
              Embark on a journey of value and reliability with our curated
              selection of quality used cars. Each vehicle has undergone
              rigorous inspection to ensure optimal performance and customer
              satisfaction. Explore our diverse inventory of pre-owned vehicles,
              featuring various makes and models, all priced competitively to
              suit your budget. Experience peace of mind knowing that you're
              investing in a dependable ride that delivers both affordability
              and quality. Take the first step towards your next adventure with
              our exceptional range of used cars.
            </p>
          </div>
        </section>

        <!-- Used cars -->
        <section class="tiles">
          {% for data in car_data if data[7] != 'Unregister' %}
          <article
            style="
              background-image: url('{{ data[2] }}');
            "
          >
            <span class="image">
              <img src="{{ data[2] }}" alt="" />
            </span>

            <header class="major">
              <p>
                <i class="fa fa-dashboard"></i> {{ data[8] }}km &nbsp;&nbsp;
                <i class="fa fa-cube"></i> {{ data[10] }}cc&nbsp;&nbsp;
                <i class="fa fa-cog"></i> {{ data[12] }}
              </p>

              <h3>{{ data[1] }}</h3>
              <strong>{{ data[3] }} lakh</strong>
              <p>
                {{ data[11] }} hp / {{ data[9] }} / {{ data[6] }} / Used vehicle
              </p>

              <div class="major-actions">
                <a
                  href="{{ url_for('carDetails', car_id = data[0] ) }}"
                  class="button small next"
                  >View Car</a
                >
              </div>
            </header>
          </article>
          {% endfor %}
        </section>

        <!-- Testimonials -->
        <section style="background-color: rgb(29, 27, 27)">
          <div class="inner">
            <header class="major">
              <h2 style="font-family: 'Protest Revolution'">Our Approach</h2>
            </header>
            <div class="row">
              <div class="col-6">
                <p>
                  At our dealership, we prioritize transparency, integrity, and
                  customer satisfaction above all else. Our approach is centered
                  on providing a seamless and personalized experience for each
                  of our valued clients. From the moment you step through our
                  doors, our dedicated team of professionals is committed to
                  understanding your unique needs and preferences, ensuring that
                  every interaction exceeds your expectations. With a focus on
                  honesty and fairness, we strive to build lasting relationships
                  built on trust and reliability. Discover the difference of our
                  customer-centric approach and let us guide you through your
                  automotive journey with confidence and peace of mind.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li>
              <a href="#" class="icon alt fa-twitter"
                ><span class="label">Twitter</span></a
              >
            </li>
            <li>
              <a href="#" class="icon alt fa-facebook"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a href="#" class="icon alt fa-instagram"
                ><span class="label">Instagram</span></a
              >
            </li>
            <li>
              <a href="#" class="icon alt fa-linkedin"
                ><span class="label">LinkedIn</span></a
              >
            </li>
          </ul>
          <ul class="copyright">
            <li>Copyright © 2024 Velocity Vault</li>
          </ul>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename = 'js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/browser.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/util.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  </body>
</html>
