<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="index.html">Home </a></li>
    <li class="active"><a href="cars.html">Cars</a></li>
    <li><a href="/analysis">Analysis</a></li>
    <li><a href="about-us.html">About Us</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Contact Us</a></li>
    <li class="dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        >More</a
      >
      <ul class="dropdown-menu">
        <li><a href="team.html">Team</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="terms.html">Terms</a></li>
      </ul>
    </li>
  </ul>
</nav>
